---
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Knap from "../../components/Knap.astro";
import "../../styles/style.css";

export async function getStaticPaths() {
  const url = "https://fttrpxvnwfswdwvtcifh.supabase.co/rest/v1/stock";

  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0dHJweHZud2Zzd2R3dnRjaWZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTgwMzcsImV4cCI6MTk5OTk3NDAzN30.jiQY1R9_4xH6PJgdeCvhKQKRA6bfCLB2ciJOBVzotc4",
    },
  };

  const respons = await fetch(url, options);
  const data = await respons.json();

  return data.map((item) => ({
    params: { slug: item.id },
    props: { item },
  }));
}

const { item } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />

    <title>[slug]]</title>
  </head>

  <body>
    <Header />
    <main>
      <section class="content">
        <div class="img_container">
          <img src={"../../img/" + item.img1 + ".jpg"} alt={item.name + " " + item.type} />
        </div>
        <div class="info">
          <div>
            <div class="top">
              <h3>{item.type}</h3>
              <p>{"Size " + item.size}</p>
            </div>

            <h1>{item.name}</h1>
            <p>{item.text}</p>

            <h3>{"Price " + item.price}</h3>
            <Knap color="blue" text="shop" />
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    padding-top: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 100px;
  }
  .img_container {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .img_container img {
    max-width: 100%;
    min-height: 100%;
  }

  .top {
    display: flex;
    align-items: center;
  }
  h3 {
    color: var(--primarycolor);
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
