* {
  margin: 0;
}

html {
  --primarycolor: #3834ff;
  --secondarycolor: #faf7f1;
  --black: #191919;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

@font-face {
  font-family: "Perandory";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/PerandorySemiCondensed.woff);
}

h1 {
  font-family: "Perandory";
  font-size: 8rem;
  font-weight: 100;
  color: var(--primarycolor);
}
h2 {
  font-family: "Perandory";
  font-size: 5rem;
  font-weight: 100;
  color: var(--primarycolor);
  line-height: 0.7;
}
h3 {
  font-family: "Perandory";
  font-size: 2rem;
  font-weight: 100;
}
h4 {
  font-family: "Perandory";
  font-size: 1rem;
  font-weight: 100;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--black);
}

body {
  background-color: var(--secondarycolor);
}
@media (max-width: 800px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> */
