---
import Knap from "../components/Knap.astro";
import Foldshelf from "../components/Foldshelf.astro";
import Grammen from "../components/Grammen.astro";
import "../styles/style.css";
import Form from "../components/Form.astro";
import Horisontal from "../components/Horisontal.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="container">
        <div class="indhold">
          <div class="content">
            <div class="grid_welcome">
              <h1>The world of cehofski</h1>
              <p>
                Welcome to the world of Cehofski jewelry. <br />
                <br /> Cehofski startet in 2021 as a side project, but has now evolved into the univers you experience today.<br /><br />Scroll along the page to learn more about Cehofski.
              </p>

              <div class="img_container">
                <img src="../../img/ring1.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="content">
            <div class="grid_welcome">
              <h1>The world of cehofski</h1>
              <p>
                Welcome to the world of Cehofski jewelry. <br />
                <br /> Cehofski startet in 2021 as a side project, but has now evolved into the univers you experience today.<br /><br />Scroll along the page to learn more about Cehofski.
              </p>

              <div class="img_container">
                <img src="../../img/ring1.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="content">
            <div class="grid_welcome">
              <h1>The world of cehofski</h1>
              <p>
                Welcome to the world of Cehofski jewelry. <br />
                <br /> Cehofski startet in 2021 as a side project, but has now evolved into the univers you experience today.<br /><br />Scroll along the page to learn more about Cehofski.
              </p>

              <div class="img_container">
                <img src="../../img/ring1.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
<style>
  .container {
    overflow: auto; /* Tillader både vertikal og horisontal scrolling */
    width: 100%; /* Angiv den ønskede bredde */
    height: calc(100vh - 80px); /* Angiv den ønskede højde */
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth; /* Glat rulningseffekt */
  }

  .indhold {
    display: flex; /* Lader indholdselementerne ligge vandret ved siden af hinanden */
    scroll-snap-align: start; /* Indholdet "snapper" til startpositionen */
    padding: 10px; /* Juster efter behov */
    height: 100%;
    display: flex;
  }

  .content {
    margin-left: 1rem;
    flex-shrink: 0;

    height: 100%;
  }
</style>
