---
import Foldshelf from "../components/Foldshelf.astro";
import Footer from "../components/Footer.astro";
import Grammen from "../components/Grammen.astro";
import Header from "../components/Header.astro";
import Order from "../components/Order.astro";
import Prodshelf from "../components/Prodshelf.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
  </head>

  <body>
    <Header />
    <main>
      <h1>
        <span>C</span>
        <span>E</span>
        <span>H</span>
        <span>O</span>
        <span>F</span>
        <span>S</span>
        <span>K</span>
        <span>I</span>
      </h1>
      <Foldshelf />
      <Grammen />
      <Order />
      <Prodshelf text="the rings we have in stock" />
    </main>
    <Footer />
  </body>
</html>

<style>
  h1 {
    overflow: hidden;
    margin-left: 1rem;
    position: relative;

    font-size: 30.5vw;
  }

  span {
    position: relative;
    opacity: 0;
    float: left;

    animation: letterup 0.75s forwards;
  }

  main {
    margin-top: 80px;
  }
  span:nth-child(2) {
    animation-delay: 0.1s;
  }
  span:nth-child(3) {
    animation-delay: 0.2s;
  }
  span:nth-child(4) {
    animation-delay: 0.3s;
  }
  span:nth-child(5) {
    animation-delay: 0.4s;
  }
  span:nth-child(6) {
    animation-delay: 0.5s;
  }
  span:nth-child(7) {
    animation-delay: 0.6s;
  }
  span:nth-child(8) {
    animation-delay: 0.7s;
  }

  @keyframes letterup {
    0% {
      bottom: -24rem;
      transform: rotate(45deg);
      opacity: 1;
    }

    100% {
      bottom: 0;
      transform: rotate(0deg);
      opacity: 1;
    }
  }
</style>
