---
import Foldshelf from "../components/Foldshelf.astro";
import Footer from "../components/Footer.astro";
import Grammen from "../components/Grammen.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import Order from "../components/Order.astro";
import Prodshelf from "../components/Prodshelf.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />

    <title>Index</title>
  </head>

  <body>
    <Header />
    <main>
      <section class="banner">
        <video autoplay loop muted>
          <source src="/video/bgvid_1.mp4" type="video/mp4" />
        </video>
        <div class="text">
          <h1>
            <span>C</span>
            <span>E</span>
            <span>H</span>
            <span>O</span>
            <span>F</span>
            <span>S</span>
            <span>K</span>
            <span>I</span>
          </h1>
          <h3>Handcrafted artwear for nymphs and satyrs</h3>
        </div>
      </section>

      <Foldshelf />
      <Grammen />
      <Order />
      <Prodshelf text="the rings we have in stock" />
    </main>
    <Footer />
  </body>
</html>

<style>
  .banner {
    display: grid;
    overflow: hidden;
  }

  .banner video {
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    height: 600px;
  }
  .banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }

  h1 {
    overflow: hidden;
    font-size: max(16rem);
    margin-inline: auto;
    height: 14rem;
  }

  h3 {
    animation: fade 1s forwards;
    animation-delay: 1s;
    color: white;
    font-size: 2rem;
    opacity: 0;
  }
  video {
    z-index: -1;
    width: 100vw;
    object-fit: cover;
    align-self: stretch;
  }

  span {
    position: relative;
    opacity: 0;
    float: left;
    color: white;
    animation: letterup 0.75s forwards;
  }

  span:nth-child(2) {
    animation-delay: 0.1s;
  }
  span:nth-child(3) {
    animation-delay: 0.2s;
  }
  span:nth-child(4) {
    animation-delay: 0.3s;
  }
  span:nth-child(5) {
    animation-delay: 0.4s;
  }
  span:nth-child(6) {
    animation-delay: 0.5s;
  }
  span:nth-child(7) {
    animation-delay: 0.6s;
  }
  span:nth-child(8) {
    animation-delay: 0.7s;
  }

  @keyframes letterup {
    0% {
      bottom: -24rem;
      transform: rotate(45deg);
      opacity: 1;
    }

    100% {
      bottom: 0;
      transform: rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 7rem;
      height: 6.5rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
</style>
