---
import Knap from "../components/Knap.astro";
import Foldshelf from "../components/Foldshelf.astro";
import Grammen from "../components/Grammen.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
  </head>
  <body>
    <h1>Julius</h1>
    <nav>
      <a href="/julius">julius</a>
      <a href="/magnus">magnus</a>
    </nav>
    <Knap />
    <Foldshelf />

    <Grammen />
  </body>
</html>
