---
import Knap from "../components/Knap.astro";
import Foldshelf from "../components/Foldshelf.astro";
import Grammen from "../components/Grammen.astro";
import "../styles/style.css";
import Form from "../components/Form.astro";
import Horisontal from "../components/Horisontal.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>About</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="container">
        <div class="indhold">
          <div class="content">
            <div class="grid_1_1">
              <h1>The world of cehofski</h1>
              <p>
                Welcome to the world of Cehofski jewelry. <br />
                <br /> Cehofski startet in 2021 as a side project, but has now evolved into the univers you experience today.<br /><br />Scroll along the page to learn more about Cehofski.
              </p>

              <div class="vid_container">
                <video autoplay muted loop src="../../img/cehofskivideo.webm"></video>
              </div>
            </div>

            <a href="#second" class="right">
              <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:inline></script>
              <lottie-player id="mylottie" src="../../animations/blue_arrow.json" autoplay loop></lottie-player>
            </a>
          </div>
          <div class="content louise blue" id="second">
            <div class="grid_1_1_1_1">
              <h2>Louise Cehofski</h2>
              <p>My name is Louise Cehofski, I’m a 27-year-old jewelrydesign student based in Copenhagen. over the past four years, I have dedicated myself to refining my jewelry design skills and creating a universe of jewlery artwear.</p>
              <div class="img_container grid1">
                <img src="/img/about_louise_2.webp" alt="" />
              </div>

              <div class="img_container grid2">
                <img src="/img/about_louise_1.webp" alt="" />
              </div>
              <p class="texttwo">While I have previously dabbled in conceptual photography, I always felt something was missing, until I discovered the world of jewelry crafts. Since then, I have been completely captivated by the artform and have never looked back.</p>
            </div>
            <a href="#third" class="right">
              <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:inline></script>
              <lottie-player id="mylottie" src="../../animations/white_arrow.json" autoplay loop></lottie-player>
            </a>
          </div>
          <div class="content signature" id="third">
            <div class="grid">
              <h2>Signature rings</h2>
              <div class="img_container">
                <img src="../img/signaturering_onhands.webp" alt="" />
              </div>
              <div class="img_container">
                <img src="../img/signaturering_1.webp" alt="" />
              </div>
              <div class="img_container">
                <img src="../img/signaturering_2.webp" alt="" />
              </div>
            </div>
            <a href="#fourth" class="right">
              <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:inline></script>
              <lottie-player id="mylottie" src="../../animations/blue_arrow.json" autoplay loop></lottie-player>
            </a>
          </div>
          <div class="content crafted blue" id="fourth">
            <div class="grid">
              <h2>HANDCRAFTED</h2>
              <div class="img_container one">
                <video autoplay loop muted src="../img/video.webm"></video>
              </div>
              <p>
                At Cehofski, each ring is meticulously designed and handcrafted with the utmost care. <br />
                <br /> No two creations are alike, ensuring that every wearer receives a truly exclusive piece that reflects their personal style and story.
              </p>
              <div class="img_container two">
                <img src="../img/process_1.webp" alt="" />
              </div>
              <div class="img_container three">
                <img src="../img/process_2.webp" alt="" />
              </div>
            </div>
            <a href="#fifth" class="right">
              <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:inline></script>
              <lottie-player id="mylottie" src="../../animations/white_arrow.json" autoplay loop></lottie-player>
            </a>
          </div>
          <div class="content return" id="fifth">
            <a href="/">
              <h2>home</h2>
            </a>
            <a href="/shop">
              <h2>Shop</h2>
            </a>
            <a href="/about">
              <h2>About</h2>
            </a>
          </div>
        </div>
      </div>
    </main>
    <div class="footer">
      <Footer />
    </div>
  </body>
</html>
<style>
  .container {
    overflow: auto; /* Tillader både vertikal og horisontal scrolling */
    width: 100%; /* Angiv den ønskede bredde */
    height: calc(100vh - 70px); /* Angiv den ønskede højde */
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth; /* Glat rulningseffekt */
  }

  .indhold {
    display: flex; /* Lader indholdselementerne ligge vandret ved siden af hinanden */
    scroll-snap-align: start; /* Indholdet "snapper" til startpositionen */

    height: 100%;
    display: flex;
  }

  .content {
    flex-shrink: 0;
    width: 100vw;
    height: 100%;

    padding: 5rem;
    padding-right: 3rem;

    position: relative;
  }

  .content:nth-child(1) {
    padding-left: 1rem;
    width: calc(100vw - 4rem);
  }

  .grid_1_1 {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    gap: 1rem;
  }

  .grid_1_1 .vid_container {
    grid-row: 2;
    grid-column: 2/5;
    overflow: hidden;
    width: 100%;
  }

  .vid_container video {
    width: 100%;
  }

  .grid_1_1 p {
    grid-row: 2;
    grid-column: 1/2;
  }
  #second {
    scroll-margin-right: 5rem;
  }
  #third {
    scroll-margin-right: 5rem;
  }
  #fourth {
    scroll-margin-right: 5rem;
  }
  #fifth {
    scroll-margin-right: 5rem;
    width: calc(100vw);
    margin-left: 5rem;
  }

  h1 {
    grid-column: 1/5;
  }
  .img_container {
    overflow: hidden;
    height: 100%;
  }

  .img_container img {
    width: 100%;
  }
  .blue {
    background-color: var(--primarycolor);
  }

  .blue p,
  .blue h2 {
    color: var(--secondarycolor);
  }

  .left {
    position: absolute;
    transform-origin: center;
    margin: 0;
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .right {
    position: absolute;
    transform-origin: center;
    margin: 0;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    gap: 1rem;
    height: 100%;
  }
  .grid_1_1_1_1 .img_container {
    height: 100%;
    width: 100%;
  }

  .grid1 {
    grid-area: 1/2;
    grid-row: 1/4;
  }

  .grid2 {
    grid-area: 2;
    grid-row: 3/6;
    overflow: hidden;
    height: 100%;
  }

  .signature .grid {
    display: grid;
    grid-template-columns: 300px 200px 2fr;
    grid-template-rows: 1fr 4fr;
    gap: 1rem;
    height: 100%;
  }

  .signature .grid .img_container:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  .signature .grid .img_container:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2;
  }
  .signature .grid .img_container:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .signature .img_container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .signature .img_container img {
    width: 100%;
    height: auto;
  }

  .crafted .grid {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    gap: 1rem;
    height: 100%;
  }

  .crafted h2 {
    grid-column: 1/3;
    grid-row: 1;
  }

  .crafted .img_container img {
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
  }

  .crafted p {
    grid-row: 2/5;
    grid-column: 2;
    max-width: 20ch;
  }
  .one {
    grid-column: 1;
    grid-row: 2/6;
    width: auto;
  }
  .one video {
    height: 100%;
  }
  .two {
    grid-column: 3;
    grid-row: 2/4;
  }
  .three {
    grid-column: 3;
    grid-row: 4/6;
  }

  a {
    text-decoration: none;
    text-align: center;
  }
  .return {
    margin-block: auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .return h2 {
    color: var(--primarycolor);
    font-size: 10rem;

    transition: 0.2s ease-in-out;
  }
  .return h2:hover {
    transition: 0.2s ease-in-out;
  }

  .footer {
    display: none;
  }

  @media (max-width: 800px) {
    .container {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
    .indhold {
      flex-direction: column;
    }
    .content {
      width: 100% !important;

      padding-top: 0rem;
      padding-bottom: 0rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 2rem;
    }
    .right {
      transform: rotate(90deg);
      transform-origin: left;
      bottom: -20rem;
      scale: 0.15;
      left: 50%;
      display: none;
    }

    .grid_1_1 {
      display: block;
    }
    .vid_container {
      margin-top: 1rem;
    }

    .louise {
      padding-top: 3rem;
    }
    .grid_1_1_1_1 {
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;
    }

    .content .grid {
      display: flex;
      flex-direction: column;
    }

    .crafted {
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
    .img_container video {
      height: auto;
      width: 100%;
    }
    .crafted p {
      max-width: 100%;
    }

    #fifth {
      margin-left: 0rem;
    }

    .return {
      width: 100% !important;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .return h2 {
      font-size: 5rem;
    }

    .footer {
      display: block;
    }
  }
</style>
