---
import Knap from "../components/Knap.astro";
const { name, info, img1, img2, img3, img4, price, type, id, materials, sten } = Astro.props;
---

<div class="img_container">
  <img src={"../public/img/" + img1} alt="" />
  <div class="layout">
    <div>
      <h3 class="cardh2">{name}</h3>
      <p>{info}</p>
    </div>
    <div class="knap">
      <Knap color="blue" text="shop" link={id} />
    </div>
  </div>
</div>
<style>
  .cardh2 {
    color: var(--black);
    margin-top: 1rem;
  }
  a {
    text-decoration: none;
  }

  .img_container {
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
  }
  h3 {
    /* margin-top: 0.5rem; */
  }
  p {
    /* margin-bottom: 2rem; */
  }
  img {
    width: 95%;
    margin-inline: auto;
    object-fit: cover;
    align-self: stretch;
    max-height: 500px;
  }
  .layout {
    display: flex;
    width: 95%;
    justify-content: space-between;
  }
  .knap {
    margin-block: 2rem;
  }
  p {
    margin-top: -0.5rem;
  }
  @media (max-width: 800px) {
    img {
      width: 40%;
      height: 450px;
      max-height: 700px;
    }
    .layout {
      width: 40%;
    }
    .img_container {
      margin-left: -7rem;
      margin-right: -15rem;
    }
  }
</style>
