---
import Knap from "../components/Knap.astro";
const { name, info, img1, img2, img3, img4, price, type, id, materials, sten } = Astro.props;
---

<div class="img_container">
  <img src={"../public/img/" + img1} alt="" />
  <h3 class="cardh2">{name}</h3>
  <p>{info}</p>
  <div class="knap">
    <Knap color="blue" text="shop" />
  </div>
</div>
<style>
  .cardh2 {
    color: var(--black);
  }
  a {
    text-decoration: none;
  }

  .img_container {
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
  }
  h3 {
    margin-top: 0.5rem;
  }
  p {
    margin-bottom: 2rem;
  }
  img {
    width: 70%;
    margin-inline: auto;
    object-fit: cover;
    align-self: stretch;
    max-height: 500px;
  }
</style>
