---
import Knap from "./Knap.astro";
---

<section>
  <div class="text">
    <h2>Get the Cehofski look</h2>
    <p>We make our rings on a order basis. However we have som rings in stock, so if you want a piece now, then take a look at the catalogue here.</p>
  </div>

  <div class="container">
    <div class="item active fifth">
      <h3>Signature</h3>
      <div class="knap">
        <Knap color="white" text="shop" />
      </div>
      <div class="img"></div>
    </div>
    <div class="item first">
      <h3>Ponyo 03</h3>
      <div class="knap">
        <Knap color="white" text="shop" />
      </div>

      <div class="img"></div>
    </div>

    <div class="item second">
      <h3>a Custom</h3>
      <div class="knap">
        <Knap color="white" text="shop" />
      </div>
      <div class="img"></div>
    </div>
    <div class="item third">
      <h3>The Claw</h3>
      <div class="knap">
        <Knap color="white" text="shop" />
      </div>
      <div class="img"></div>
    </div>
    <div class="item fourth">
      <h3>Ponyo 4</h3>
      <div class="knap">
        <Knap color="white" text="shop" />
      </div>
      <div class="img"></div>
    </div>
  </div>
</section>
<style>
  .knap {
    opacity: 0%;
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    transition: 0.5s ease;
  }

  .active .knap {
    opacity: 100%;
    bottom: 2rem;
    right: 1.5rem;
    transition: 1s ease;
  }
  .text {
    margin-left: 1rem;
  }
  h2 {
    margin: 0;
    margin-top: 3rem;
    line-height: 0.7;
  }
  p {
    margin: 0;
    max-width: 60ch;
    color: var(--primarycolor);
  }

  .container {
    display: flex;
    height: 500px;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .item {
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid var(--black);
    width: 150px;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
    cursor: pointer;
    background-color: var(--secondarycolor);
  }

  .item.active {
    transition: 1s ease;
    width: 100%;
    justify-content: left;
    cursor: auto;
  }

  .item h3 {
    position: absolute;
    top: 4rem;
    rotate: 90deg;
    color: var(--black);
    font-weight: 100;
    margin-left: -1rem;
  }
  .item.active h3 {
    color: var(--secondarycolor);
  }

  .first .img {
    background-image: url(/img/ring1.webp);
  }
  .second .img {
    background-image: url(/img/ring2.webp);
  }
  .third .img {
    background-image: url(/img/ring3.webp);
  }
  .fourth .img {
    background-image: url(/img/ring4.webp);
  }
  .fifth .img {
    background-image: url(/img/signatur_ring.webp);
  }

  .item .img {
    height: 500px;
    width: 1800px;

    background-position: center;
    background-size: cover;

    opacity: 0%;
    transition: 0.5s ease;

    z-index: -1;
    transition: 0.2s ease;
  }

  .item:hover h3 {
    color: var(--secondarycolor);
  }
  .item:hover .img {
    opacity: 100%;
  }

  .item.active .img {
    transition: 2s ease;
    opacity: 100%;
  }

  .item {
    position: relative;
    opacity: 0;

    animation: in 0.5s forwards;
  }

  .item:nth-child(4) {
    animation-delay: 0.1s;
  }
  .item:nth-child(3) {
    animation-delay: 0.2s;
  }
  .item:nth-child(2) {
    animation-delay: 0.3s;
  }
  .item:nth-child(1) {
    animation: in 1.4s forwards;
    animation-delay: 0.35s;
  }

  @keyframes in {
    0% {
      right: -120%;
      opacity: 0;
    }

    100% {
      right: 0;
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    .item h3 {
      position: absolute;
      top: 1rem;
      rotate: 0deg;
      color: var(--black);
      font-weight: 100;
      margin-left: 1rem;
    }
    .container {
      display: flex;
      flex-direction: column;
      height: 800px;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .item {
      position: relative;
      display: flex;
      justify-content: left;
      border: 1px solid var(--black);
      width: 100%;
      height: 100px;
      position: relative;
      overflow: hidden;
      transition: 1s ease;
      cursor: pointer;
      background-color: var(--secondarycolor);
    }

    .item .img {
      height: 550px;

      background-position: center;
      background-size: cover;

      opacity: 0%;
      transition: 0.5s ease;

      z-index: -1;
      transition: 0.2s ease;
    }

    .item.active {
      transition: 1s ease;
      width: 100%;
      height: 100%;
      justify-content: left;
      cursor: auto;
    }
    h2 {
      line-height: 4rem;
    }
  }
</style>

<script>
  const item = document.querySelector(".item");
  const first = document.querySelector(".first");
  const second = document.querySelector(".second");
  const third = document.querySelector(".third");
  const fourth = document.querySelector(".fourth");
  const fifth = document.querySelector(".fifth");

  first.addEventListener("click", () => {
    first.classList.add("active");
    second.classList.remove("active");
    third.classList.remove("active");
    fourth.classList.remove("active");
    fifth.classList.remove("active");
  });
  second.addEventListener("click", () => {
    first.classList.remove("active");
    second.classList.add("active");
    third.classList.remove("active");
    fourth.classList.remove("active");
    fifth.classList.remove("active");
  });
  third.addEventListener("click", () => {
    first.classList.remove("active");
    second.classList.remove("active");
    third.classList.add("active");
    fourth.classList.remove("active");
    fifth.classList.remove("active");
  });
  fourth.addEventListener("click", () => {
    first.classList.remove("active");
    second.classList.remove("active");
    third.classList.remove("active");
    fourth.classList.add("active");
    fifth.classList.remove("active");
  });
  fifth.addEventListener("click", () => {
    first.classList.remove("active");
    second.classList.remove("active");
    third.classList.remove("active");
    fourth.classList.remove("active");
    fifth.classList.add("active");
  });
</script>
