---
---

<section>
  <div class="text">
    <h2>Get the Cehofski look</h2>
    <p>We make our rings on a order basis. However we have som rings in stock, so if you want a piece now, then take a look at the catalogue here.</p>
  </div>
</section>

<style>
  .text {
    margin-left: 1rem;
  }
  h2 {
    margin: 0;
    margin-top: 3rem;
    line-height: 0.7;
  }
  p {
    margin: 0;
    max-width: 60ch;
    color: var(--primarycolor);
  }
</style>
