---
---

<section>
  <div class="text">
    <h2>Get the Cehofski look</h2>
    <p>We make our rings on a order basis. However we have som rings in stock, so if you want a piece now, then take a look at the catalogue here.</p>
  </div>

  <div class="container">
    <div class="item active">
      <h3>Signature</h3>
    </div>

    <div class="item"></div>

    <div class="item"></div>

    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</section>
<style>
  .text {
    margin-left: 1rem;
  }
  h2 {
    margin: 0;
    margin-top: 3rem;
    line-height: 0.7;
  }
  p {
    margin: 0;
    max-width: 60ch;
    color: var(--primarycolor);
  }

  .container {
    display: flex;
    height: 500px;
    margin-top: 1rem;
  }
  .item {
    border: 1px solid var(--black);
    min-width: 100px;
    position: relative;
  }

  .item.active {
    width: 100%;
  }
</style>
