---
---

<section>
  <div class="text">
    <h2>Be inspired</h2>
    <p>
      If you want to dive into our univers get a taste of our instagram here, or get the full experience on
      <span> <a href="https://www.instagram.com/cehofski/" target="_blank"> @cehofski</a></span>.
    </p>
  </div>
  <div class="gallery">
    <a href="https://www.instagram.com/p/CoUGNLxt9Mq/" target="_blank">
      <div class="img">
        <div class="info">
          <p>The most stunning Silja wearing Cehofski pieces 🤍 ...</p>
        </div>
      </div>
    </a>
    <a href="https://www.instagram.com/p/CounEmlNeHd/" target="_blank">
      <div class="img">
        <div class="info">
          <p>Cehofski pieces seen on @siljaflor...</p>
        </div>
      </div>
    </a>
    <a href="https://www.instagram.com/p/Crqh2PtNKjS/" target="_blank">
      <div class="img">
        <div class="info">
          <p>It’s always a blessing to accessorise my grandmother, Margit Cehofski ♡ ...</p>
        </div>
      </div>
    </a>
    <a href="https://www.instagram.com/p/CrdVjG3N2cG/" target="_blank">
      <div class="img">
        <div class="info">
          <p>Amazing @marcia_coleman_bulowhube seen in cehofski rings for @latestmagazine ♡...</p>
        </div>
      </div>
    </a>

    <style>
      section {
        margin-bottom: 1rem;
        margin-top: 5rem;
      }
      .text {
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
      h2 {
        margin: 0;
        margin-top: 3rem;
        line-height: 0.7;
      }
      p {
        margin: 0;
        max-width: 60ch;
        color: var(--black);
      }

      p span {
        text-decoration: underline;
        cursor: pointer;
      }

      .gallery {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 0.5rem;
      }

      .img {
        flex: 5;
        overflow: hidden;
        min-height: 400px;
        max-height: 500px;
        min-width: 300px;
        background-size: cover;
        background-position: center top;
        display: flex;
        flex-direction: column;
        justify-content: end;
        color: var(--primarycolor);
      }
      a {
        flex: 5;
        overflow: hidden;
        min-height: 400px;
        max-height: 500px;
        min-width: 300px;
      }

      .info {
        background-color: var(--secondarycolor);
        padding: 1rem;
        position: relative;
        transform-origin: top;
        bottom: -10rem;
        transition: 0.3s ease;
      }

      .img:hover .info {
        bottom: 0rem;
        transition: 0.3s ease;
      }
      h3 {
        margin-bottom: -0.5rem;
      }

      .img p {
        color: var(--primarycolor);
      }

      .date {
        font-size: 0.7rem;
      }
      img {
        height: 100%;
      }

      a:nth-child(1) .img {
        background-image: url(../../img/instagram5.webp);
      }
      a:nth-child(2) .img {
        background-image: url(../../img/instagram3.webp);
      }
      a:nth-child(3) .img {
        background-image: url(../../img/instagram4.webp);
      }
      a:nth-child(4) .img {
        background-image: url(../../img/instagram2.webp);
      }

      a {
        text-decoration: none;
        border: transparent;
        color: var(--primarycolor);
      }
      @media (max-width: 800px) {
        .img {
          flex: 5;
          overflow: hidden;
          min-height: 200px;
          max-height: 200px;
          min-width: 200px;
        }
        a {
          flex: 5;
          overflow: hidden;
          min-height: 200px;
          max-height: 350px;
          min-width: 170px;
        }
      }
    </style>
  </div>
</section>
