<header>
  <nav>
    <a href="/">
      <h3>Cehofski</h3>
    </a>
    <div>
      <a href="/shop">
        <h4>shop</h4>
      </a>
      <a href="/about">
        <h4>about</h4>
      </a>
    </div>
  </nav>
</header>
<style>
  nav {
    background-color: var(--secondarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: var(--primarycolor);
  }
  div {
    display: flex;
  }
  h3,
  h4 {
    margin: 1rem;
  }
</style>
