<header>
  <nav>
    <h2>Cehofski</h2>
    <div>
      <h3>shop</h3>
      <h3>about</h3>
    </div>
  </nav>
</header>
<style>
  nav {
    display: flex;
    justify-content: space-between;
  }
  div {
    display: flex;
  }
</style>
