<header>
  <nav>
    <h3>Cehofski</h3>
    <div>
      <h4>shop</h4>
      <h4>about</h4>
    </div>
  </nav>
</header>
<style>
  nav {
    background-color: brown;
    display: flex;
    justify-content: space-between;
  }
  div {
    display: flex;
  }
</style>
