<header>
  <nav>
    <a href="/"> <img class="logo" src="/img/cehofski_silver.webp " alt="" /></a>

    <div>
      <a href="/shop">
        <h4 class="navknap">shop</h4>
      </a>
      <a href="/about">
        <h4 class="navknap">about</h4>
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    background-color: var(--secondarycolor);
    z-index: 1000;
  }
  nav {
    background-color: var(--secondarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: var(--primarycolor);
  }
  div {
    display: flex;
  }
  h3,
  h4 {
    margin: 1rem;
  }
  img {
    width: 70%;
  }
  .navknap {
    font-size: 2rem;
  }
</style>
