---
---

<div class="container">
  <section id="scroll">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac leo nulla. Donec volutpat consequat elit ut tincidunt. Proin id purus sed nulla lacinia eleifend sed porttitor neque.
    Vestibulum volutpat porta ex. Aenean accumsan metus eu euismod semper. Phasellus viverra tortor eget enim ultrices, quis dignissim lectus posuere. Nullam turpis nisl, fringilla gravida interdum
    nec, semper et tellus. Etiam vitae rutrum ligula. Nulla lobortis massa odio, id tempor leo dictum sit amet. Nulla ut porta orci. Maecenas pulvinar est ac est accumsan, non consequat augue
    lobortis. Morbi semper sollicitudin eros, sit amet lacinia nulla varius a. Nam dignissim faucibus risus, eleifend tincidunt dolor scelerisque a. Quisque tempus, quam efficitur feugiat laoreet,
    sapien eros aliquam erat, auctor feugiat lacus ipsum id nisl. In nisi urna, laoreet eget pulvinar dignissim, maximus laoreet augue. Vivamus euismod mauris nec felis posuere, eu maximus ante
    volutpat. Integer porttitor urna quis vehicula feugiat. Integer justo nibh, rutrum pulvinar massa quis, molestie pretium ipsum.
  </section>
</div>

<style>
  .container {
    width: 100vw;
    height: 500vh;
    overflow-x: hidden;
    background-color: var(--secondarycolor);
  }

  .container section {
    width: 500vw;
    position: fixed;
  }
</style>

<script>
  document.onscroll = () => {
    // Justér for forskellen mellem vinduets højde og bredde
    // Beregn, hvor meget siden er blevet rullet vertikalt i procent
    let percentScrolled = window.pageYOffset / window.innerHeight;

    // Beregn, hvor meget indholdet skal rulles vandret baseret på den vertikale rulning
    // Gange procentScrolled med vinduets bredde for at få den nødvendige vandrette rullemængde
    let toScroll = percentScrolled * window.innerWidth;

    // Rul indholdet vandret ved at ændre CSS-egenskaben 'left' for elementet med id 'scroll'
    // Sæt 'left' til en negativ værdi af toScroll pixels for at opnå den vandrette rulleeffekt
    document.getElementById("scroll").style.left = "-" + toScroll + "px";
  };
</script>
