---
---

<div class="container">
  <section id="scroll">
    <div class="content">
      <div class="grid_welcome">
        <h1>The world of cehofski</h1>
        <p>Welcome to the world of Cehofski jewelry. <br /> <br /> Cehofski startet in 2021 as a side project, but has now evolved into the univers you experience today.</p>

        <div class="img_container">
          <img src="../../img/ring1.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="content louise">
      <h2>Louise <br /> Cehofski</h2>
      <div class="grid_1_1_1_1">
        <div class="img_container grid1">
          <img src="/img/about_louise_2.webp" alt="" />
        </div>
        <p>
          My name is Louise Cehofski, I’m a 27-year-old jewelrydesign student based in Copenhagen. over the past four years, I have dedicated myself to refining my jewelry design skills and creating a
          universe of jewlery artwear.
        </p>

        <div class="img_container grid2">
          <img src="/img/about_louise_1.webp" alt="" />
        </div>
        <p>
          While I have previously dabbled in conceptual photography, I always felt something was missing, until I discovered the world of jewelry crafts. Since then, I have been completely captivated
          by the artform and have never looked back.
        </p>
      </div>
    </div>
    <div class="content signature">
      <div class="grid">
        <h2>Signature <br /> rings</h2>
        <div class="img_container">
          <img src="../img/signaturering_2.webp" alt="" />
        </div>
        <div class="img_container">
          <img src="../img/signaturering_2.webp" alt="" />
        </div>
        <div class="img_container">
          <img src="../img/signaturering_2.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="content crafted">
      <div class="grid">
        <h2>HANDCRAFTED</h2>
        <div class="img_container one">
          <video autoplay loop muted src="../img/video.webm"></video>
        </div>
        <p>
          At Cehofski, each ring is meticulously designed and handcrafted with the utmost care. <br />
          <br /> No two creations are alike, ensuring that every wearer receives a truly exclusive piece that reflects their personal style and story.
        </p>
        <div class="img_container two">
          <img src="../img/process_1.webp" alt="" />
        </div>
        <div class="img_container three">
          <img src="../img/process_2.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="return">
      <a href="/">
        <h2>home</h2>
      </a>
      <a href="/shop">
        <h2>Shop</h2>
      </a>
      <a href="/about">
        <h2>About</h2>
      </a>
    </div>
  </section>
</div>
<div id="scrolling">
  <div id="scrollbar"></div>
</div>

<style>
  body::-webkit-scrollbar {
    height: 0rem;
    width: 0rem;
  }

  body::-webkit-scrollbar-thumb {
    background-color: none;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: none;
  }

  .content {
    margin-left: 1rem;
    display: flex;
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .louise {
    flex-direction: column;
  }

  .img_container {
    overflow: hidden;
    height: 100%;
  }

  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 1rem;
    height: 100%;
  }
  .grid_1_1_1_1 .img_container {
    height: 100%;
  }

  .content.louise {
    margin-left: 10rem;
    width: 1000px;
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 1rem;
  }

  .grid1 {
    grid-area: 1/2;
    grid-row: 1/3;
  }

  .grid2 {
    grid-area: 2;
    grid-row: 2/4;
    overflow: hidden;
    height: 100%;
  }

  .grid2 img {
  }
  .img_container img {
    box-sizing: border-box;

    max-height: 100%;
  }

  .content p {
    max-width: 30ch;
  }
  .container {
    width: 100vw;
    height: 500vh;
    overflow-x: hidden;
  }

  .container section {
    width: 500vw;
    margin-top: 20px;
    position: fixed;
  }
  #scroll {
    display: flex;
    gap: 1rem;
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, var(--secondarycolor) 12%, var(--primarycolor) 17%, var(--secondarycolor) 80%);
  }

  #scrolling {
    position: fixed;
    bottom: 1.5rem;
    width: 100vw;
    height: 8px;
  }
  #scrollbar {
    position: inherit;
    transform-origin: right;
    margin-left: 0.5rem;
    bottom: 1.5rem;
    left: 0;
    width: 2rem;
    height: 2px;
    background-color: var(--primarycolor);
    z-index: 9999;
  }
  a {
    text-decoration: none;
    text-align: center;
  }
  .return {
    margin-left: 20rem;
    margin-block: auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .return h2 {
    margin-bottom: 3rem;
  }
  .grid_welcome {
    display: grid;
    grid-template-rows: auto 2fr;
    grid-template-columns: auto 2fr;
  }

  .grid_welcome .img_container {
    grid-row: 2;
    grid-column: 2;
  }
  h1 {
    grid-column: 1/3;
  }

  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
  .louise p {
    color: white;
  }

  .signature .grid {
    display: grid;
    grid-template-columns: 300px 200px 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
  }

  .signature .grid .img_container:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  .signature .grid .img_container:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2;
  }
  .signature .grid .img_container:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .img_container {
    overflow: hidden;
  }

  .signature .img_container {
    display: flex;
    justify-content: center;
  }
  .signature .img_container img {
    scale: 2;
  }

  .crafted {
    margin-left: 10rem;
  }

  .crafted .grid {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 1rem;
  }

  .crafted h2 {
    grid-column: 1/3;
    grid-row: 1;
  }

  .crafted .img_container img {
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100%;
    max-height: 110%;
  }

  .crafted p {
    grid-row: 2/5;
    grid-column: 2;
    max-width: 20ch;
    color: var(--secondarycolor);
  }
  .one {
    grid-column: 1;
    grid-row: 2/5;
    width: auto;
  }
  .one video {
    height: 100%;
  }
  .two {
    grid-column: 3;
    grid-row: 1/3;
  }
  .three {
    grid-column: 3;
    grid-row: 3/5;
  }

  @media (max-width: 800px) {
    .grid_1_1_1_1 .img_container {
      width: 150%;
    }
    .grid_1_1_1_1 {
      gap: 1rem 7.7rem;
    }
    .return {
      margin-left: 10rem;
    }
  }
</style>

<script>
  document.onscroll = () => {
    // Justér for forskellen mellem vinduets højde og bredde
    // Beregn, hvor meget siden er blevet rullet vertikalt i procent
    let percentScrolled = window.pageYOffset / window.innerHeight;
    console.log("percent scrolled" + percentScrolled);
    // Beregn, hvor meget indholdet skal rulles vandret baseret på den vertikale rulning
    // Gange procentScrolled med vinduets bredde for at få den nødvendige vandrette rullemængde
    let toScroll = percentScrolled * window.innerWidth;
    console.log(toScroll);
    // Rul indholdet vandret ved at ændre CSS-egenskaben 'left' for elementet med id 'scroll'
    // Sæt 'left' til en negativ værdi af toScroll pixels for at opnå den vandrette rulleeffekt
    document.getElementById("scroll").style.left = "-" + toScroll + "px";

    // Opdater den lodrette scrollbjælkes position baseret på den horisontale rullefunktion
    let scrollbar = document.getElementById("scrollbar");
    let scrollcontainer = document.getElementById("scrolling");
    let scrollbarrelative = percentScrolled * scrollcontainer.offsetWidth;

    document.getElementById("scrollbar").style.left = "+" + scrollbarrelative + "px";
  };
</script>
