<section id="howto">
  <div class="overskrift">
    <h2>How to order</h2>
    <p>We make our rings on a order basis. However we have some rings in stock,</p>
    <p>so if you want a piece now, then take a look at the catalogue here.</p>
  </div>
  <div class="info">
    <div>
      <h3>01</h3>
      <p>If we have the right ring for you in <a href="/shop#in_stock">stock</a>, then you can order it right away!</p>
    </div>
    <div>
      <h3>02</h3>
      <p>If we don't have the ring you want in stock, then you can order one of the models in the right size or <a href="shop#form">send us a message</a> if you want something made just for you.</p>
    </div>
    <div>
      <h3>03</h3>
      <p>Wait for our response, the order time can vary quite a bit, but we will get in touch with you as soon as possible!</p>
    </div>
  </div>
</section>
<style>
  .info {
    display: flex;
    justify-content: space-between;
  }
  section {
    margin-inline: 1rem;
  }
  section > * {
    margin-block: 5rem;
  }
  .info div p {
    max-width: 30ch;
  }

  #howto {
    scroll-margin: 70px;
  }
  h3 {
    background-color: var(--primarycolor);
    color: white;
    font-weight: 100;
    max-width: 5rem;
    padding-left: 0.3rem;
  }
  .overskrift p {
    color: var(--black);
  }
  a {
    color: var(--primarycolor);
  }
  p {
    color: var(--black);
  }
  @media (max-width: 800px) {
    .info {
      display: block;
    }
    .info > * {
      margin-bottom: 2rem;
    }
    section > * {
      margin-block: 2rem;
    }
  }
</style>
