---
import Card from "./Card.astro";
---

<div class="outer">
  <div class="inner">
    <h2>The rings we have in stock.</h2>
    <Card />
  </div>
</div>
<style>
  div {
    display: flex;
  }
  h2 {
    max-width: 8ch;
  }
</style>
