---
import Card from "./Card.astro";
---

<div class="outer">
  <div class="inner">
    <h2>The rings we have in stock.</h2>
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
</div>
<style>
  div {
    display: flex;
  }
  h2 {
    max-width: 8ch;
  }

  .inner {
    display: flex;
  }

  .outer {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
</style>
