---
import Card from "./Card.astro";
const { text } = Astro.props;
---

<div class="outer">
  <div class="inner">
    <h2>{text}</h2>
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
</div>
<style>
  div {
    display: flex;
  }
  h2 {
    min-width: 20rem;
    margin: 1rem;
  }

  .inner {
    display: flex;
  }

  .outer {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
</style>
