<h2 id="gallery">Custom rings</h2>

<div class="gallery">
  <img class="gal_img1" src="/img/shopgal1.webp" alt="7 Cehofski signaturringe på en hånd" />
  <img class="gal_img2" src="/img/shopgal2.webp" alt="Billede af ponyo 01 ring" />
  <img class="gal_img3" src="/img/shopgal3.webp" alt="Billede af 9 ringe på hænder" />
  <img class="gal_img4" src="/img/shopgal4.webp" alt="Billede af 2 guldbelagte signaturringe med sten" />
  <img class="gal_img5" src="/img/shopgal5.webp" alt="Billede af sculptural flower 02 ring" />
  <img class="gal_img6" src="/img/shopgal6.webp" alt="Billede af ponyo 02 ring" />
  <img class="gal_img7" src="/img/shopgal7.webp" alt="Billede af 2 ponyo ringe" />
</div>

<style>
  .gallery {
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 0.3em;
    padding-inline: 1rem;
  }
  .gallery img {
    width: 100%;
    object-fit: cover;
    align-self: stretch;
  }
  .gal_img1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .gal_img7 {
    grid-column: 2/5;
  }
  h2 {
    margin-block: 2rem 1rem;
    margin-left: 1rem;
  }

  #gallery {
    scroll-margin: 70px;
  }
  @media (max-width: 800px) {
    .gallery {
      height: 30rem;
    }
    h2 {
      max-width: 10ch;
    }
  }
</style>
